* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: white;

}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,57,166,0.8239670868347339) 35%, rgba(0,212,255,1) 100%);
}


#logo-nome {
    display: block;
    margin-right: auto;
    margin: 1.6rem;

    width: 15rem;
}

#all {
    display: flex;
    width: 60rem;
    height: 40rem;
    background-color: #474448;
    align-items: center;
    align-content: center;
    margin: auto;
    border-radius: 1rem;
    
}

#container {
    width: 55rem;
    height: 37rem;
    background-color: #696969;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 1rem;

}

.negrito {
    font-weight: bold;
    color: rgb(61, 62, 136);
}

#projetos img {
    height: 160px;
    width: 240px;
    border: 1px solid rgb(61, 60, 60);
}

#projetos {
    cursor: pointer;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;

}

#rodape {
    text-align: center;
    margin: 1rem;
}


#redes {
   display: block;
   cursor: pointer;
}

#redes-sociais {
    margin-left: 1rem;
}


#popUp {
    display: none;
    background-color: #e6e5eb;
    border-radius: 7px;
    width: 25rem;
    color: seashell;
    font-weight: bold;
    display: none;
    height: 25rem;
    margin:  auto;
    text-align: center;
    border-radius: 8px;
}

